POSTGRES_HOST={{ dbsync_postgres_host }}
POSTGRES_PORT={{ dbsync_postgres_port | default(5432) }}
POSTGRES_DB={{ dbsync_postgres_db }}
POSTGRES_USER={{ dbsync_postgres_user }}
POSTGRES_PASSWORD={{ dbsync_postgres_password }}
